NEXT_PUBLIC_API_URL="https://api.somar.ia.br"
NEXT_PUBLIC_SITE_URL="https://imov.somar.ia.br"
NEXT_PUBLIC_WHATSAPP_NUMBER="5585999999999"
NEXT_PUBLIC_GTM_ID=""
NEXT_PUBLIC_GA4_ID="G-3TT3TFB14C"
NEXT_PUBLIC_GSC_VERIFICATION=""
